VITE_API_URL=/api/v1
VITE_DEV_PROXY_TARGET=http://localhost:5000
VITE_SITE_URL=https://ecommerce.berkansozer.com
# /api/v1
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
VITE_APPLE_CLIENT_ID=com.example.ecommerce.web
VITE_APPLE_REDIRECT_URI=http://localhost:3000/login
VITE_ENABLE_CHEAT_CODES=true
